language: php
php:
    - '7.1.3'
services:
    - mysql
env:
    - RDS_HOSTNAME=localhost RDS_DB_NAME=ebdb RDS_PASSWORD="" RDS_USERNAME=root RDS_PORT=""
before_install:
    - mysql -h${RDS_HOSTNAME} -P${RDS_PORT} -u${RDS_USERNAME} -e"CREATE DATABASE IF NOT EXISTS ebdb; GRANT ALL ON ebdb.* TO wp_user IDENTIFIED BY '$RDS_PASSWORD'; FLUSH PRIVILEGES;"
before_script:
    - composer self-update
    - composer install --prefer-source --no-interaction
after_script:
    - sudo mv wp-config.php ../wp/
    - vendor/bin/wp core install --path='../wp' --url=http://localhost --title="WP Theme" --admin_user=webmaster --admin_email=josephldaigle@yahoo.com --admin_password="somethingsecure"
    - bash scripts/deploy_wordpress.sh
    - bash scripts/init_project_repo.sh