language: php
php:
    - '7.1.3'
services:
    - mysql
env:
    - RDS_HOSTNAME=localhost RDS_DB_NAME=ebdb RDS_PASSWORD="" RDS_USERNAME=root RDS_PORT=""
before_install:
    - bash scripts/deploy_wordpress_db.sh
before_script:
    - composer self-update
    - composer install --prefer-source --no-interaction
after_script:
    - bash scripts/init_git_project.sh