files:
    "/etc/httpd/conf.d/01_doc_root.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
          <VirtualHost *:80>
                  ServerAdmin webmaster@localhost
                  DocumentRoot /var/app/wp
                  <Directory />
                          Options FollowSymLinks
                          AllowOverride All
                 </Directory>
                <Directory /var/app/wp >
                          Options Indexes FollowSymLinks MultiViews
                          AllowOverride All
                          Require all granted
                  </Directory>
          </VirtualHost>