files:
    "/etc/httpd/conf.d/01_doc_root.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
          <VirtualHost *:80>
                  ServerAdmin webmaster@localhost
                  DocumentRoot "/var/app/current/wp/"
                  <Directory />
                          Options FollowSymLinks
                          AllowOverride None
                 </Directory>
                <Directory /var/app/current/wp/>
                          Options Indexes FollowSymLinks MultiViews
                          AllowOverride None
                          Require all granted
                  </Directory>
          </VirtualHost>