container_commands:
    00_create_swap:
        command: "bash scripts/deploy_swap_file.sh"
    01_init_wp_db:
        command: "bash scripts/deploy_wordpress_db.sh"
    02_deploy_wp:
        command: "bash scripts/deploy_wordpress.sh"
    03_init_git_repo:
        command: "bash scripts/init_project_repo.sh"