#################################
# Create server swap file
#################################
#
# creates a swap file on the server
#
commands:
    00_create_swap:
        command: sh deploy_swap_file.sh
        test: "[ free | awk '/^Swap:/ {exit !$2}' ]"
    01_verify_db_install:
        command: sh deploy_wordpress_db.sh
        test: [ "`mysql -h${RDS_HOSTNAME} -P${RDS_PORT} -u${RDS_USERNAME} -p${RDS_PASSWORD} -se'USE ebdb;' 2>&1`" == "" ]