#################################
# Create server swap file
#################################
#
# creates a swap file on the server
#
commands:
    00_create_file:
        command: sudo dd if=/dev/zero of=/swapspace bs=1M count=4000
    01_create_swap:
        command: sudo mkswap /swapspace
    02_set_file_perms:
        command: sudo chmod 600 /swapspace
    03_turn_on_swap:
        command: sudo swapon /swapspace
    04_output_swap:
        command: cat /proc/swaps